<div class="dropdown">
  <button class="btn" data-toggle="dropdown">
    <img class="rounded-circle" width="30" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50">
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <ul class="navbar-nav my-4 mx-4">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</div>